* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.container {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    color: black;
    font-size: 5em;
    text-align: center;
}

h2 {
    color: black;
    font-size: 2.5em;
    text-align: center;
}
p {
    color: black;
    font-size: 1.5em;
    text-align:center;
}
p#subtitulo {    
    font-size:2em;    
}

#frutas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.imagen {
    width: 100%;
}

.imagenes {
    width: 25%;
}

.imagenes:hover {
    background-color:rgb(97, 156, 158, 0.5) ;
    border: 2px solid blue;
    border-radius: 5px;
}

.parcialCompra {
    text-align: end;
}

#finalCompra {
    text-align: end;
    font-weight: bold;
}


